<h2>Lets Make This: {{recipe.title}}</h2>
<h3>by <a href="/author/{{recipe.author.id}}">{{recipe.author.name}}</a></h3>
<p>{{ recipe.description }}</p>
<h4>Time Required: {{ recipe.time_required }}</h4>
<ul>
    
        <h2>Instructions</h2>
        <p> {{ recipe.instructions }}
        
        </ul>  

{%if request.user.is_authenticated%}
{%if recipe not in current_author%}
        <p><a href={% url 'favorite' id=recipe.id %}>Favorite</a></p>
{%else%}
        <p><a href={% url 'unfavorite' id=recipe.id %}>Unfavorite</a></p>
{%endif%}
{%endif%}
<a href="/">Home</a>