<h2>Lets Make This: {{recipe.title}}</h2>
<h3>by <a href="/author/{{recipe.author.id}}">{{recipe.author.name}}</a></h3>
<p>{{ recipe.description }}</p>
<h4>Time Required: {{ recipe.time_required }}</h4>
<ul>
    
        <h2>Instructions</h2>
        <p> {{ recipe.instructions }}
        
        </ul>  

{%if request.user.is_authenticated%}
{%if recipe not in current_author%}
        <p><a href={% url 'favorite' id=recipe.id %}><button>Favorite</button></a></p>
{%else%}
        <p><a href={% url 'unfavorite' id=recipe.id %}><button>Unfavorite</button></a></p>
{%endif%}
{%endif%}
<p><a href ={% url 'edit_recipe' id=recipe.id %}><button>Edit</button></a></p>
<a href="/">Home</a>